doctype html 
html 
    head 
        // interpolation inpug || aka template string 
        title Natours | #{tour}
        link(rel='stylesheet' href='css/style.css')
        link(rel="shortcut icon", type='image/png' href='img/favicon.png')

    body 
        // this is buffered code
        h1= tour
        h2= user.toUpperCase()
        // h1 The park camper

        // this is unbuffered code || this won't show in results
        - const x = 9
        // this buffered code will show in results
        h2= 2*x

        p This is just some text


